---
import type { Author, Note, Link } from "../types/types";
import Links from "./Links.astro";
import Authors from "./Authors.astro";
import Notes from "./Notes.astro";

interface Props {
  title: string;
  authors: Author[];
  conference?: string;
  notes?: Note[];
  links: Link[];
}

const { title, authors, conference, notes, links } = Astro.props as Props;
---

<header class="flex flex-col gap-8 items-center mb-8 pt-6">
  <h1 class="text-5xl md:text-5xl font-semibold text-center max-w-6xl mx-auto">{title}</h1>
  <div class="flex flex-col gap-6 items-center">
    <Authors authors={authors} />
    {conference && <p class="text-center">{conference}</p>}
    {notes && <Notes notes={notes} />}
    {links && <Links links={links} />}
  </div>
</header>
